{% extends 'sitik/layout.html' %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <div class="contacts_grid">
        <div class="contacts_item contacts_item1">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/anya.jpg' %}" alt="">
                <p class="contacts_fio">Иванов Иван Иванович</p>
                <p class="contacts_position">Контент-директор</p>
                <div class="contacts_btn">
                    <a href="" id="open_pop_up">Нажми на меня!</a>
                </div>
            </div>
        </div>
        <div class="contacts_item contacts_item2">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/polina.jpg' %}" alt="">
                <p class="contacts_fio">Петров Петр Петрович</p>
                <p class="contacts_position">Креативный директор</p>
                <div class="contacts_btn">
                    <a href="" id="open_pop_up">Нажми на меня!</a>
                </div>
            </div>
        </div>
        <div class="contacts_item contacts_item3">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/vova.jpg' %}" alt="">
                <p class="contacts_fio">Сидоров Сидр Сидорович</p>
                <p class="contacts_position">Директор по работе с&nbsp;клиентами</p>
                <div class="contacts_btn">
                    <a href="" id="open_pop_up">Нажми на меня!</a>
                </div>
            </div>
        </div>
        <div class="contacts_item contacts_item4">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/sereja.jpg' %}" alt="">
                <p class="contacts_fio">Смирнов Смирн Смирнович</p>
                <p class="contacts_position">Технический директор</p>
                <div class="contacts_btn">
                    <a href="" id="open_pop_up">Нажми на меня!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_up" id="pop_up">
        <div class="pop_up_container">
            <div class="pop_up_body" id="pop_up_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque earum molestiae quasi sint
                    totam veritatis. Accusantium, atque cupiditate dicta eligendi facilis hic in ipsum minima nostrum
                    porro provident quasi similique tempora ullam, vero! Assumenda aut blanditiis dolorem doloribus
                    dolorum ea excepturi, fuga ipsam ipsum iusto nam natus pariatur perferendis possimus praesentium
                    quam quia quidem saepe suscipit temporibus velit voluptas voluptatem? Alias aliquid debitis, eveniet
                    illo magnam nam quis quo reprehenderit similique sit? Dicta earum laudantium qui, quibusdam
                    repellendus velit? Autem est illo laboriosam libero magnam minus nemo odit rerum, similique
                    voluptate. Accusamus alias animi aperiam corporis deserunt dolor dolores doloribus eaque earum eos
                    esse excepturi exercitationem expedita illo ipsam iusto labore laudantium minus nobis nulla officia
                    optio perferendis perspiciatis quae qui quibusdam quidem quis quos recusandae reiciendis repellendus
                    reprehenderit saepe temporibus unde, vel vitae voluptatem. Ad aperiam architecto atque aut
                    consectetur consequuntur culpa delectus doloremque dolorum et eveniet fugit laboriosam magnam
                    maiores non nulla obcaecati officia omnis possimus quaerat quibusdam quod recusandae rem repudiandae
                    tenetur voluptate, voluptatibus. Aperiam commodi cumque debitis doloribus enim et eum, illo illum
                    iste magni maxime modi natus necessitatibus non numquam odit officia perferendis quas repudiandae
                    sed similique temporibus totam voluptates. Esse incidunt necessitatibus nemo? Accusamus aliquam aut
                    commodi debitis dolorem doloribus dolorum, ducimus eius enim eum eveniet excepturi exercitationem,
                    expedita fuga fugiat harum labore laborum molestiae necessitatibus nihil nobis odit optio
                    perspiciatis provident qui quos reprehenderit rerum saepe sapiente soluta sunt tempore ullam ut
                    velit vitae voluptate voluptatibus. A amet dolorum eveniet facilis incidunt iure laudantium libero
                    molestiae mollitia officia, perspiciatis possimus suscipit temporibus! Animi atque doloremque
                    eligendi eos et eum exercitationem incidunt inventore ipsum iure modi, molestiae nesciunt quia saepe
                    temporibus tenetur, veritatis vitae. Amet corporis cum distinctio eius enim est facere incidunt ipsa
                    natus nemo nulla omnis, perferendis repellendus ullam voluptates. Autem, deserunt ducimus officiis
                    quis repellat sequi voluptatem. A atque autem cumque distinctio dolore eius eum maiores minima nemo
                    nobis, omnis qui quia quo quos saepe tenetur vel? A ab aspernatur assumenda commodi consectetur
                    culpa cum deleniti deserunt dolor ea eligendi explicabo fuga harum hic incidunt, laudantium magnam
                    natus nihil nisi nobis non officia pariatur provident quam quisquam reprehenderit similique
                    temporibus veritatis voluptate voluptatibus? Culpa fugit id itaque magnam rem sequi! Amet
                    consectetur consequatur deleniti ducimus ea est expedita fuga laboriosam maxime, mollitia neque
                    nihil non nulla qui quia ratione repellat saepe tenetur velit vero! Beatae dolor libero maxime
                    mollitia nesciunt nihil perspiciatis quam quisquam similique suscipit! Corporis expedita molestias
                    nulla numquam porro reprehenderit, rerum vero voluptatem. Accusantium alias aperiam blanditiis
                    culpa, cupiditate delectus dolore eaque error et expedita ipsam iure labore magnam molestiae nihil
                    non, praesentium provident qui quia quo repellat, temporibus vel? A accusantium adipisci impedit
                    neque nesciunt pariatur quam quidem repudiandae totam veritatis. Ab cumque molestias reprehenderit
                    tempora? Aliquam amet eaque facilis inventore ipsum natus nisi nobis quia quos saepe? At cum dolores
                    eaque voluptas! Aspernatur explicabo ipsum rem sequi? Aspernatur dignissimos iste modi
                    necessitatibus porro, reprehenderit voluptatibus! Sunt, veritatis vitae. Alias dolorum eos error
                    molestias nemo rem!</p>
                <div class="pop_up_close" id="pop_up_close">&#10006</div>
            </div>
        </div>
    </div>
    <script src="{% static 'sitik/js/index.js' %}"></script>
{% endblock %}