{% extends 'sitik/layout.html' %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <div class="contacts_grid">
        <div class="contacts_item contacts_item1">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/ivanov.jpg' %}" alt="">
                <p class="contacts_f">Иванов</p>
                <p class="contacts_io">Иван Иванович</p>
                <p class="contacts_position">Контент-директор</p>
                <div class="contacts_btn">
                    <a href="https://t.me" class="open_pop_up">Связаться</a>
                </div>
            </div>
        </div>
        <div class="contacts_item contacts_item2">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/petrov.jpg' %}" alt="">
                <p class="contacts_f">Петров</p>
                <p class="contacts_io">Петр Петрович</p>
                <p class="contacts_position">Креативный директор</p>
                <div class="contacts_btn">
                    <a href="https://t.me" class="open_pop_up">Связаться</a>
                </div>
            </div>
        </div>
        <div class="contacts_item contacts_item3">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/sidorov.jpg' %}" alt="">
                <p class="contacts_f">Сидоров</p>
                <p class="contacts_io">Сидр Сидорович</p>
                <p class="contacts_position">Директор по продажам</p>
                <div class="contacts_btn">
                    <a href="https://t.me" class="open_pop_up">Связаться</a>
                </div>
            </div>
        </div>
        <div class="contacts_item contacts_item4">
            <div class="contacts_subgrid">
                <img class="contacts_img" src="{% static 'sitik/img/smirnov.jpg' %}" alt="">
                <p class="contacts_f">Смирнов</p>
                <p class="contacts_io">Смирн Смирнович</p>
                <p class="contacts_position">Технический директор</p>
                <div class="contacts_btn">
                    <a href="https://t.me" class="open_pop_up">Связаться</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_up_btn">
        <a href="" id="open_pop_up">Нажми на меня!</a>
    </div>
    <div id="pop_up" class="pop_up">
        <div id="pop_up_container" class="pop_up_container">
            <div id="pop_up_body" class="pop_up_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda aut consequatur laboriosam
                    maxime neque quidem quisquam, recusandae repellendus tempore! Architecto consequuntur debitis
                    deserunt dolor doloremque, dolores ea et eum fuga id illo ipsum iure laborum modi, nam natus neque
                    numquam officia porro, quisquam ullam velit veniam voluptas! Ad facere fugit iure laudantium qui.
                    Assumenda autem deserunt doloribus iste labore possimus. Laborum laudantium nisi placeat vero.
                    Architecto blanditiis, deleniti dicta eaque est eum id illum impedit inventore iste laborum maiores,
                    odit officia pariatur, perspiciatis praesentium quaerat qui repellat velit veniam. Accusantium aut
                    corporis iste, iure minus quibusdam quo ut vel!</p>
                <div id="pop_up_close" class="pop_up_close">&#10006</div>
            </div>
        </div>
    </div>
    <script src="{% static 'sitik/js/index.js' %}"></script>
{% endblock %}