{% extends 'sitik/layout.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="main_text">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos error quo unde voluptate voluptates. Ab ad
            adipisci dolorum eos facere, labore modi non porro quas quisquam rem ullam voluptatem! Architecto beatae
            commodi cumque delectus deserunt, distinctio dolore ea eligendi eos id ipsa itaque iure libero nemo nisi
            odio odit, pariatur quisquam recusandae rerum similique tenetur totam vitae voluptatem voluptates? Aliquid
            assumenda at aut, commodi culpa cumque debitis dolor ea eveniet ex excepturi facere hic ipsum itaque iure
            iusto, minima molestiae nesciunt nihil obcaecati odio officiis quia quo repellendus reprehenderit sed
            suscipit velit vero voluptate voluptatem? Assumenda atque cumque, dicta ea facere fugiat incidunt itaque
            iusto laboriosam maxime minus, nemo nisi nobis non, numquam praesentium quam quo ratione sapiente similique
            tempora temporibus voluptas? A aliquam architecto atque consectetur consequatur dolorum est eveniet fuga
            inventore libero magni maiores nam neque numquam omnis optio placeat possimus provident rem, reprehenderit
            rerum tenetur voluptate, voluptatum?
        </div>
        <div class="disclamer">Мы не пропагандируем употребление наркотиков. За незаконное приобретение, хранение,
            перевозку, изготовление, переработку наркотических средств, психотропных веществ или их аналогов
            предусмотрена уголовная ответственность. Статья 228 УК РФ. Даже разовое употребление наркотиков ведёт за
            собой большие последствия сказывающиеся на вашем здоровье, а в конечном итоге это приводит к летальному
            исходу.
        </div>
    </div>
{% endblock %}
