{% extends 'sitik/layout.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="main_text">
        <div>
            Новости в России и мире, самая оперативная информация: темы дня, обзор, анализ, инфографика. Всего этого на
            данном сайте нет, зато есть события из жизни одного конкретного человека, который дорог и любим авторами
            сайта. Переходите на вкладку "Новости" и узнайте, как найти любовь в пионерском клубе, спуститься на дно
            океана, а также укротить слона, верблюда и двух детей.
        </div>
        <div class="disclamer">Мы не пропагандируем употребление наркотиков. За незаконное приобретение, хранение,
            перевозку, изготовление, переработку наркотических средств, психотропных веществ или их аналогов
            предусмотрена уголовная ответственность. Статья 228 УК РФ. Даже разовое употребление наркотиков ведёт за
            собой большие последствия сказывающиеся на вашем здоровье, а в конечном итоге это приводит к летальному
            исходу.
        </div>
    </div>
{% endblock %}
